/*styles for subroute content only*/
#subroute-title {
	padding: 125px 0 0 0;
	font-weight: bolder;
	text-align: left;
	vertical-align: bottom;
	font-family: sans-serif;
	color: white;
}

#subroute-subtitle {
	font-weight: lighter;
	font-size: 25px;
	text-align: left;
	font-family: sans-serif;
	color: white;
}

ul {
	list-style-type: none;
}

h4 {
	margin-bottom: -10px;
	font-weight: bolder;
	padding-top:20px;
}

h1 {
	padding: 125px 0 0 0;
	font-weight: bolder;
	text-align: left;
	vertical-align: bottom;
	font-family: sans-serif;
	color: white;
}

p {
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	font-family: sans-serif;
	color: white;
}