<nav id="navbar" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-inner">
      <ul class="nav navbar-nav" data-toggle="collapse" data-target=".nav-collapse">
        <li class="nav-item dropdown">
          <a id='link' class="nav-link active" [routerLink]=" ['./home'] "
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] "
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Info
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] " fragment="When"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            When
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] " fragment="Where"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Where
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] " fragment="GettingAroundLocally"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Local travelers
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] " fragment="WhereToStay"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Accomodations
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] " fragment="TypicalWeather"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Weather
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] " fragment="TravelingHere"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Airports
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] " fragment="Registry"
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Registry
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>    
