<nav id="navbar" class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-inner">
      <ul class="nav navbar-nav" data-toggle="collapse" data-target=".nav-collapse">
        <li class="nav-item dropdown">
          <a id='link' class="nav-link active" [routerLink]=" ['./home'] "
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Home
          </a>
        </li>
        <li class="nav-item dropdown">
          <a id='link' class="nav-link" [routerLink]=" ['./weddinginfo'] "
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            Info
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>    
