<div class='container-fluid'>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <h1 id="home-title">Kristofor and Sara</h1>
      <p id="home-subtitle">We're getting married!</p>
      <hr style="border-color: white">
      <p>
        September 22, 2018<br>
        Santa Cruz Museum of Art & History
      </p>
      <p>
        We're excited to bring our friends and family together
        to celebrate our love and committment in marriage. The
        wedding will happen on Saturday, September 22, 2018
        at a venue right in heart of Santa Cruz.
      </p>
      <p>
        The ceremony will start in the evening and we'll celebrate late into the night with food, dancing, and drinks. As soon as we know more, we'll update this site! An invitation will follow the save-the-date you've already received with more specific information.
      </p>
      <p>
        Please RSVP <a style="color:rgb(172,177,230)" href="https://krisandsara.anrsvp.com" target="_blank">here</a>.
      </p>
      <p>
        Your presence is gift enough! In lieu of traditional gifts we've set up a <a style="color:rgb(172, 177, 230)" href="https://www.honeyfund.com/wedding/NyquistNewlyweds" target="_blank">honeyfund</a> where you can help us have an unforgettable honeymoon!
      </p>
      <hr style="border-color: white">
      <img id="home-gif" align="middle"
           (mouseover)="gifOnHover()"
           (mouseleave)="gifOffHover()" 
           src="{{gif}}">
      <br>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
